<!--SCORE COUNTER Web App-->
<!--Author: Aaron Pope-->
<!-- remote sync test -->
<!DOCTYPE html>
<html ng-app="counterApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Score Tracker</title>
    
    
	<link rel="stylesheet" type="text/css" href="css/responsive_styles.css">

    <!-- Boostrap, local -->
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
<!--<link rel="stylesheet" type="text/css" href="game_counter_styles.css">-->
</head>

<body>
    <h1 id="headline">Score Tracker</h1>
    <div id="players" class="">
		<div  ng-controller="scoresCtrl" id="player-1" class="player-box">			
            <div class="remove-player">X</div>	
			<input type="text" id="player-1-name" class="player-name-field" placeholder="Who's playing?  Click to enter your name!"/>

			<h2 ng-model="playerScore" id="score" class="headline-secondary--grouped">{{playerScore}}</h2>

			<div class = "buttons-group">
				<button ng-click="addScore(2)" class="add-2-train btn--default">2</button>
				<button ng-click="addScore(4)" class="add-3-train btn--default">3</button>
				<button ng-click="addScore(7)" class="add-4-train btn--default">4</button>
				<button ng-click="addScore(10)" class="add-5-train btn--default">5</button>
				<button ng-click="addScore(15)" class="add-6-train btn--default">6</button>
			</div>
		</div>
		
		<div id="player-2" class="player-box">
            <div class="remove-player">X</div>
		  
			<input type="text" id="player-2-name" class="player-name-field" placeholder="Who's playing?  Click to enter your name!"/>

			
			<h2 id="score" class="headline-secondary--grouped" style = "margin-bottom: 10px"></h2>

			<div class = "buttons-group">
				<button class="add-2-train btn--default">2</button>
				<button class="add-3-train btn--default">3</button>
				<button class="add-4-train btn--default">4</button>
				<button class="add-5-train btn--default">5</button>
				<button class="add-6-train btn--default">6</button>
			</div>
		</div>
        
        <test-template ng-controller="scoresCtrl"></test-template>
		
		<div id="add-player-div">
			<h2>Add a player</h2>
		</div>
        <footer style="align: bottom">
            <button id="menu-toggle">Options</button>
            <div id="number-players-selector" style="">
                <button id="2-players">2</button>
                <button id="3-players">3</button>
                <button id="4-players">4</button>
                <button id="5-players">5</button>
                <br />
                <a id="close-menu" style="">Close</button>
            </div>
        </footer>
    </div>

    <!-- jQuery --> 
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- jQuery local -->
        <script src="../../../Frameworks/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- javascript files -->
    <script src="https://code.angularjs.org/1.4.5/angular.js"></script>
    <script src="js/player.js"></script>
    <script src="js/game.js"></script>
    <!--<script src="js/ui_controller.js"></script>-->
    
    <script>
        //instantiates the Angular app
        var counterApp = angular.module("counterApp", []);
        
        
        counterApp.controller('scoresCtrl', function($scope) {
            $scope.twoTrainLengthScore = 2;
            $scope.threeTrainLengthScore = 4;
            $scope.fourTrainLengthScore = 7;
            $scope.fiveTrainLengthScore = 10;
            $scope.sixTrainLengthScore = 15;
            
            $scope.playerScore = 0;
            
            
            $scope.addScore = function(value) {
                $scope.playerScore += value;
            };
        })
        .directive('testTemplate', function() {
          return {
            templateUrl: 'template.html' 
          };    
        });
        
        $("button").mousedown(function() {
           toggleButtonBackgroundPositive($(this));
        })
        .mouseup(function() {
           toggleButtonBackgroundPositive($(this));
        });
        
        var toggleButtonBackgroundPositive = function(element) {
            $(element).toggleClass("click-background-color-positive");
        }
        
        var toggleButtonBackgroundNegative = function(element) {
            $(element).toggleClass("click-background-color-negative");
        }

    </script>
</body>
</html>
