<!DOCTYPE html>
<html ng-app="counterApp">
<head lang="en">
    <title>Score Counter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=false">
    
    <!-- Latest compiled and minified CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->

    <!-- Optional theme -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    
    <!-- Angular Material Styles -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
        <!-- Roboto text style -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="css/responsive_styles.css">

<!-- Latest compiled and minified JavaScript -->

</head>
    
<body>
    <div ng-controller="playersCtrl" ng-init="setNumberOfPlayers(2)">
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button aria-label="Go Back">
                        Go Back
                    </md-button>
                <h1>
                    <span flex class="title-text">Score Counter - Ticket to Ride</span>
                </h1>
                <span flex></span>
<!--
        <md-button class="md-raised" aria-label="Learn More">
          Learn More
        </md-button>
-->
                    <md-fab-speed-dial md-open="" md-direction="left"
                             ng-class="">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-secondary md">
                                <md-icon>
                                    <i class="material-icons" style="font-size: 1.2em; text-shadow: 1px 1px rgba(0, 0, 0, .25);">group_add</i>
                                </md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="setNumberOfPlayers(5)">
                                5
                            </md-button>
                        <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="setNumberOfPlayers(4)">
                                4
                            </md-button>
                            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-click="setNumberOfPlayers(3)">
                                3
                            </md-button>
                            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini" ng-click="setNumberOfPlayers(2)">
                                2
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </md-toolbar>
        <br>
        </md-content>
        
        
    

<!--
    Reference for items to add back in

                  <ul id="version-selection-list" class="nav navbar-nav">
                    <li class="active"><a href="#">Standard <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">USA 1910</a></li>
                    <li><a href="#">Europe</a></li>
                  </ul>
-->

        <md-divider></md-divider>
        <md-content class="md-padding" layout-sm="column" layout="row">
        <div ng-repeat="player in players" test-template></div>
        </md-content>
    </div>
    
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    
    <!-- App Scripts-->
    <script src="js/angular-app.js"></script>
    <script src="js/ui_controller.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>