<div ng-controller="scoresCtrl" class="player-box">
<!--    <div class="remove-player">X</div>	-->
    <input type="text" id="player-1-name" class="player-name-field" placeholder="Who's playing?"/>

    <h2 id="score" class="headline-secondary--grouped">{{playerScore}}
        <span style="margin-left: 3em; margin-right: .5em;">{{remainingTrains}}</span><img src="train.png" style="height: 1em; width: 1.5em; margin: 0 0 .2em 0">
    </h2>
    <div class = "buttons-group">
        <md-button ng-click="addScore(1)" class="md-accent md-raised route-length-button">1</md-button>
        <md-button ng-click="addScore(2)" class="md-accent md-raised route-length-button">2</md-button>
        <md-button ng-click="addScore(3)" class="md-accent md-raised route-length-button">3</md-button>
        <md-button ng-click="addScore(4)" class="md-accent md-raised route-length-button">4</md-button>
        <md-button ng-click="addScore(5)" class="md-accent md-raised route-length-button">5</md-button>
        <md-button ng-click="addScore(6)" class="md-accent md-raised route-length-button">6</md-button>  
    </div>
</div>
